<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peluqueria">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono_peluqueria_foreground"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/netwotksecurityconfig"
        android:roundIcon="@mipmap/icono_peluqueria_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".Activities.DetalleActividad"></activity>
        <activity android:name=".Activities.FormulariosActivities.RegistroActividades" />
        <activity android:name=".Activities.activity_actividades" />
        <activity android:name=".Activities.DetallePersonal" />
        <activity android:name=".Activities.Success_splash" />
        <activity android:name=".Activities.FormulariosActivities.ResgistroPersonalActivity" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.FormulariosActivities.RegistroActivity" />
        <activity android:name=".Activities.InicioActivity" />
        <activity android:name=".Activities.MainActivity" />
    </application>

</manifest>